<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:debuggable="false"
        android:icon="@drawable/surecash"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:usesCleartextTraffic="true"
        tools:ignore="HardcodedDebugMode">
        <activity android:name=".All_mobile_banking"></activity>
        <activity android:name=".noticeboard" />
        <activity android:name=".profilePage" />
        <activity android:name=".pakageHistory" />
        <activity android:name=".bill_history" />
        <activity android:name=".add_money_history" />
        <activity android:name=".Add_Money" />
        <activity android:name=".all_pakage_all_operator" />
        <activity android:name=".flexiload_history" />
        <activity android:name=".history" />
        <activity android:name=".signup" />
        <activity android:name=".pakageBuyPage" />
        <activity android:name=".allPakage" />
        <activity android:name=".teletalk" />
        <activity android:name=".robi" />
        <activity android:name=".airtel" />
        <activity android:name=".banglalink" />
        <activity android:name=".grameen" />
        <activity android:name=".all_operator" />
        <activity android:name=".MainActivity" />
        <activity android:name=".billpay" />
        <activity android:name=".surecash" />
        <activity android:name=".rocket" />
        <activity android:name=".nagad" />
        <activity android:name=".bkash" />
        <activity android:name=".login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false"
            tools:ignore="Instantiatable,WrongManifestParent">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service> <!-- Sample AdMob app ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1166225427937341~3509012048" />
    </application>

</manifest>